<div class="card" style="width: 18rem">
  <div class="card-body">
    <h4>{{ course.name }}</h4>
    <img class="card-img-top" src="{{ course.imgPath }}" alt="" />
    <ul class="list-group">
      <li class="list-group-item list-group-flush">
        {{ course.duration }}
      </li>
      <li class="list-group-item list-group-flush">
        {{ course.students }}
      </li>
      <li class="list-group-item list-group-flush">
        {{ course.price }}
      </li>
    </ul>
    <a href="#" class="btn btn-info">Details</a>
    <a
      class="btn btn-primary"
      [class]="
        course.students > 20
          ? 'btn-secondary disabled'
          : course.students > 10
          ? 'btn-warning'
          : 'btn-primary'
      "
      (click)="enroll(course)"
      >Enroll</a
    >
  </div>
</div>
